@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #1AAF71;
    color:black ;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;    
}
#logo img {
    max-width: 200%;
    height: 50px;
    margin-right: 50px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 100px;
}
li a {
    text-decoration: none;
    color: #494234;
    font-size: 20px;
}
li a:hover {
    color: #fff;
}
li a[href^="#"] {
    transition: color 0.3s; 
}

@media screen and (max-width: 768px) {
    ul {
        display: none;    
    }   
}

#home {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #72c593  70%,#b1ebd8 30%);
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
}
.left {
    padding-left:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-image img{
    width:100%;
}
.left h1 {
    margin: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #494234;
}
.left p{
    margin: 10px;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}
.left button{
    margin : 10px;
    margin-top: 2.1rem;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    background-color: #493448;
    color: white;
    cursor: pointer;
}
.left .home-image {
    box-shadow: 0px 0px 10px ;
}
.swiper{
    width: 20rem;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.swb{
    height: 10px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .left {
        flex-direction: column;
    }
    .home-image img{
        height: 200px;
        width: 100%;
    }
    .left  .home-text {
        padding-top:20px;
        display : flex;
        align-items: end;
    }
    .left .home-text .home-subtext h1 {
        font-size: 20px;
    }
    .left .home-text button{
        padding : 0px;
        padding-right:10px;
        height : 50px;
        width : 150px;
    }
    .left{
        margin-top: 100px;
        padding-bottom:10px;
    }
}

.right{
   width:40%;
   display: flex;
   flex-direction: column; 
   padding-right:10px;
   padding-left:100px;
}
.box{
    display: flex;
    align-items: center;
}
.right .box .image img{
    width: 80%; 
}
.image{
    margin-top: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.image:hover{
    background-color: rgba(73, 52, 70, 0.7);
}
.box .inner-box{
    margin: 1.5rem 0 0 1rem;
}
.box .inner-box p{
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width: 600px){
    #home{
        flex-direction:column;
        height:150vh;
    } 
    .right{
        padding-bottom: 30px;
        padding-right: 100px;
    }   
}

#plants {
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}
.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#b1ebd8 ;
}
.plant {
    background: white;
    color: goldenrod;
    border: 2px solid #0c0000;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.2s;
}
.plant img {
    max-width: 100%;
    height: 200px;
    object-fit: cover
}
.plant h3 {
    margin-top: 10px;
    font-size: 20px;
}
.plant p {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    color:darkgreen ;
}
.rate {
    font-weight: bold;
}
.plant:hover {
    transform: scale(1.05); 
}


#products {
    padding-bottom: 10px;
    background: white;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#b1ebd8 ;
}
.product {
    background: white;
    color: salmon;
    border: 2px solid #0c0000;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.2s;
}
.product img {
    max-width: 100%;
    height: 200px;
    object-fit: cover
}
.product h3 {
    margin-top: 10px;
    font-size: 20px;
}
.product p {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    color:darkgreen ;
}
.rate {
    font-weight: bold;
}
.product:hover {
    transform: scale(1.05); 
}


#order {
    background: url('bg.jpeg') center center/cover no-repeat;
            animation: slideBackground 20s linear infinite;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-height: 300px;
}
.order-container {
    background: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%; 
    max-width: 300px; 
    margin-top: 80px;
    margin-bottom: 50px;
}
.order-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
}
.form-group {
    margin: 10px 0;
    text-align: left;
}
label {
    display: block;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background: #558d6b ;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background:#02943d ;
}


#about {
    margin-top: 20px;
    padding: 40px;
    background: #b1ebd8;
    margin-bottom: 20px;
}
.about-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-description {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.about-description h2{
    color:#494230 ;
    font-size: 30px;
}
.about-description h4 {
    flex: 1;
    padding-top:10px;
    padding-right: 20px;
    color:#494234 ;
    font-size: 30px;
    text-align:start;
}
.about-image1 {
    flex: 1;
    margin-top: 20px;
    text-align: center;
    float:right;
    padding-right: 30px;
}
.about-image2 {
    flex: 1;
    margin-top: 20px;
    text-align: center;
    float:left;
    padding-right: 30px;
}
.mission h4 p{
    width:50%;
}
.story h4 p{
    width:50%;
}
@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }
    .about-description,
    .about-image {
        flex: 100%;
        padding: 0;
    }
}


#contact {
    background: url('con.jpg') center center/cover no-repeat;
            animation: slideBackground 20s linear infinite;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-height: 300px;
            flex-direction:column;
}
.contact-info{
    text-align: center;
    font-weight: 500px;
    font-size: small;
    padding-top: 0px;
    padding-bottom: 100px;
}
.contact-info h2{
    color:#494234;
}
.contact-info p{
    color:black;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: right;
    padding-top:0px;
}
.contact-form h2{
    color:#494234; 
    text-align: center;
    padding-top: 100px;
}
.social-links{
    margin-top: 20px;
    right: 5%;
    bottom: 5%;
}
.social-links::before{
    width: 80%;
    height: 3px;
    background-color: #494234;
}
.social-links i{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #72c593 ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.social-links i:hover{
    transform: translateY(-5px);
}


footer {
    background: #1AAF71;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgb(80, 78, 78);
}


